<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Machine Learning Project</title>

    <!-- Bootstrap components -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Our CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="../css/styles.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">


</head>

<body>
    <div class="container-fluid">

        <!-- Header -->
        <header class="row">
            <h1><a href="/">Projekt strojového učenia</a></h1>
            <!-- Navigation -->
            <nav>
                <ul>
                    <li><a class="btn" href="/">Form</a></li>
                    <li><a class="btn" href="/about">About</a></li>
                    <li><a class="btn" href="/results">Results</a></li>
                    <li><a class="btn" href="/class">Class Predictions</a></li>
                    <!-- <li><a class="btn" href="index.html">Form</a></li>
                    <li><a class="btn" href="about.html">About</a></li>
                    <li><a class="btn" href="results.html">Results</a></li>
                    <li><a class="btn" href="class.html">Class Predictions</a></li> -->

                </ul>
            </nav>
        </header>

        <!-- Main Content -->
        <div class="row main-content">
            <section class="col col-12">
                <h3>About the Dataset</h3>
                <p>
                    This data comes from the young people survey in Slovakia, sourced from Kaggle. The data was
                    collected in 2013 with 1,010 students at FSEV UK aged 15 to 30. After removing all the rows with
                    null values, we had 674 full responses to use in our models. All students were of Slovakian
                    nationality. The survey asked 150 questions that can be split up into the following groups: ‘Music
                    Preferences’, ‘Movie Preferences’, ‘Hobbies & Interests’, ‘Phobias’, ‘Personality traits, Views on
                    life, & Opinions’, ‘Spending Habits’ and ‘Demographics’. To narrow down our scope, we chose to limit
                    our model features to ‘Personality traits, Views on life, & Opinions’ and chose Gender, Education,
                    Phobia of Heights, Phobia of Spiders and Phobia of Snakes as our targets. The features we used all
                    are on a five-point Likert scale from Strongly disagree (1) to Strongly agree (5), we removed the
                    three variables that did not comply with this same format.
                </p>
                <h3>Our Process</h3>
                <p>
                    We used logistic regression, k-nearest neighbors and neural network models to try and best fit our
                    five targets. These three models were chosen based on their varied approaches to predicting data. We
                    chose to try and predict our targets with the Personality traits, views on life, & opinions
                    variables. Because there are 57 different questions in this group, we ran a logistic regression
                    model in R to inform our models about what variables were statistically significant in predicting
                    each target. For gender, we used a binary logistic regression. For Education, we used a multinomial
                    logistic regression analysis because the dependent variable was categorical. For the Phobias, we
                    used a proportional odds logistic regression because the targets were categorical with more than 2
                    ordered levels. We simplified the levels from the 5 Likert scale values down to 3: ‘Agree’,
                    ‘Neutral’ & ‘Disagree’. Limiting the number of states of our targets gave us higher number of
                    instances of each value, which helped the accuracy of our model.
                </p>
                <p>
                    For our logistic regression model, we used our informed set of features to predict the target and
                    then used gridsearch to tune the parameters of the model. For our k-nearest neighbors (KNN) model,
                    we used our informed features and then looped through different k values to see which had the
                    highest accuracy. The neural networks also used the informed features, we then split the data into
                    training and testing data and then scaled it. We found that our dataset was too small for deep
                    learning, which yielded significant overfitting. For each of our different models, we used two
                    layers. The first layer varied in the number of units, but all used a ReLU activation function. The
                    second layer was a softmax layer to predict our desired target. We then fit our neural network model
                    with varying number of epochs per model. We evaluated this model with accuracy and loss but used
                    accuracy to compare the results to the other two models.
                </p>

            </section>
            <!-- Summary -->
            <section class="col col-12">
                <p style="margin-bottom:35px">The <a
                        href="https://www.kaggle.com/miroslavsabo/young-people-survey/data">Young People Survey</a>
                </p>
            </section>

        </div>

        <!-- Footer -->
        <footer class="row">
            <p>&copy;2020 Bryan Domogalla, Cherie Mosher, and Taber Webb - University of Oregon Data Analytics Boot
                Camp.<br>
                The complete <a href="https://www.kaggle.com/miroslavsabo/young-people-survey/data">young-people-survey
                </a> </p>
        </footer>
        
    </div>

</body>

</html>