<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Machine Learning Project</title>

    <!-- Bootstrap components -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Our CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="../css/styles.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">


</head>

<body>
    <div class="container-fluid">

        <!-- Header -->
        <header class="row">
            <h1><a href="/">Projekt strojového učenia</a></h1>
            <!-- Navigation -->
            <nav>
                <ul>
                    <li><a class="btn" href="/">Form</a></li>
                    <li><a class="btn" href="/about">About</a></li>
                    <li><a class="btn" href="/results">Results</a></li>
                    <li><a class="btn" href="/class">Class Predictions</a></li>
                </ul>
            </nav>
        </header>

        <table class="table table-striped">
            <thead>
                <tr style="text-align: left">
                    <th>Code Name</th>
                    <th>Gender</th>
                    <th>Education Level</th>
                    <th>Snake Phobia</th>
                    <th>Spider Phobia</th>
                    <th>Heights Phobia</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Missy Elliot</th>
                    <td>female</td>
                    <td>secondary school</td>
                    <td>Afraid</td>
                    <td>Not afraid</td>
                    <td>Afraid</td>
                </tr>
                <tr>
                    <th>Wheezer</th>
                    <td>male</td>
                    <td>secondary school</td>
                    <td>Afraid</td>
                    <td>Not afraid</td>
                    <td>Not afraid</td>
                </tr>
                <tr>
                    <th>NANANANANAN</th>
                    <td>male</td>
                    <td>secondary school</td>
                    <td>Afraid</td>
                    <td>Not afraid</td>
                    <td>Afraid</td>
                </tr>
                <tr>
                    <th>Rubber Ducky</th>
                    <td>male</td>
                    <td>secondary school</td>
                    <td>Not Afraid</td>
                    <td>Not afraid</td>
                    <td>Afraid</td>
                </tr>
                <tr>
                    <th>John Doe</th>
                    <td>male</td>
                    <td>secondary school</td>
                    <td>Afraid</td>
                    <td>Not afraid</td>
                    <td>Neutral</td>
                </tr>
                <tr>
                    <th>im not feeling creative</th>
                    <td>male</td>
                    <td>college/bachelor degree</td>
                    <td>Afraid</td>
                    <td>Not afraid</td>
                    <td>Afraid</td>
                </tr>
                <tr>
                    <th>Trisk</th>
                    <td>female</td>
                    <td>secondary school</td>
                    <td>Afraid</td>
                    <td>Not afraid</td>
                    <td>Not afraid</td>
                </tr>
                <tr>
                    <th>XST222</th>
                    <td>female</td>
                    <td>secondary school</td>
                    <td>Afraid</td>
                    <td>Not afraid</td>
                    <td>Neutral</td>
                </tr>
                <tr>
                    <th>Frogs are the best</th>
                    <td>female</td>
                    <td>secondary school</td>
                    <td>Not Afraid</td>
                    <td>Not afraid</td>
                    <td>Not afraid</td>
                </tr>
                <tr>
                    <th>Batman</th>
                    <td>female</td>
                    <td>secondary school</td>
                    <td>Not Afraid</td>
                    <td>Not afraid</td>
                    <td>Afraid</td>
                </tr>
                <tr>
                    <th>Cazman1986</th>
                    <td>male</td>
                    <td>secondary school</td>
                    <td>Afraid</td>
                    <td>Not afraid</td>
                    <td>Not afraid</td>
                </tr>
                <tr>
                    <th>Ivan Waterman</th>
                    <td>male</td>
                    <td>college/bachelor degree</td>
                    <td>Afraid</td>
                    <td>Not afraid</td>
                    <td>Not afraid</td>
                </tr>
                <tr>
                    <th>ASK</th>
                    <td>female</td>
                    <td>secondary school</td>
                    <td>Afraid</td>
                    <td>Not afraid</td>
                    <td>Afraid</td>
                </tr>
                <tr>
                    <th>Elvis</th>
                    <td>female</td>
                    <td>secondary school</td>
                    <td>Not Afraid</td>
                    <td>Not afraid</td>
                    <td>Not afraid</td>
                </tr>
                <tr>
                    <th>catdad</th>
                    <td>male</td>
                    <td>secondary school</td>
                    <td>Afraid</td>
                    <td>Not afraid</td>
                    <td>Not afraid</td>
                </tr>
                <tr>
                    <th>King of Later</th>
                    <td>male</td>
                    <td>college/bachelor degree</td>
                    <td>Afraid</td>
                    <td>Not afraid</td>
                    <td>Not afraid</td>
                </tr>
                <tr>
                    <th>Ysabeau</th>
                    <td>female</td>
                    <td>secondary school</td>
                    <td>Afraid</td>
                    <td>Not afraid</td>
                    <td>Not afraid</td>
                </tr>
                <tr>
                    <th>keptfanatic</th>
                    <td>female</td>
                    <td>college/bachelor degree</td>
                    <td>Afraid</td>
                    <td>Not afraid</td>
                    <td>Not afraid</td>
                </tr>
                <tr>
                    <th>scaredsally</th>
                    <td>male</td>
                    <td>college/bachelor degree</td>
                    <td>Not Afraid</td>
                    <td>Not afraid</td>
                    <td>Not afraid</td>
                </tr>
                <tr>
                    <th>chaos_etymology</th>
                    <td>female</td>
                    <td>secondary school</td>
                    <td>Afraid</td>
                    <td>Not afraid</td>
                    <td>Not afraid</td>
                </tr>
                <tr>
                    <th>21</th>
                    <td>female</td>
                    <td>secondary school</td>
                    <td>Afraid</td>
                    <td>Not afraid</td>
                    <td>Not afraid</td>
                </tr>
                <tr>
                    <th>Ghost Buster</th>
                    <td>male</td>
                    <td>secondary school</td>
                    <td>Afraid</td>
                    <td>Not afraid</td>
                    <td>Afraid</td>
                </tr>
            </tbody>
        </table>

        <!-- Footer -->
        <footer class="row">
            <p>&copy;2020 Bryan Domogalla, Cherie Mosher, and Taber Webb - University of Oregon Data Analytics Boot
                Camp.<br>
                The complete <a href="https://www.kaggle.com/miroslavsabo/young-people-survey/data">young-people-survey</a>
            </p>
        </footer>

    </div>

</body>

</html>