<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mosher Dissertation Defence</title>

    <!-- Bootstrap components -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Our CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="../css/styles.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">


</head>

<body>
    <div class="container-fluid">

        <!-- Header -->
        <header class="row">
            <h1><a href="/">Cherie Mosher's Dissertation Defence</a></h1>
            <!-- Navigation -->
            <nav>
                <ul>
                   <li><a class="btn" href="/">Form</a></li>
                    <li><a class="btn" href="/chapter1">Chapter 1</a></li>
                    <li><a class="btn" href="/chapter2">Chapter 2</a></li>
                    <li><a class="btn" href="/chapter3">Chapter 3</a></li>
                </ul>
            </nav>
        </header>

        <!-- Main Content -->
        <!-- <div class="row main-content"> -->
        <div class="row main-content">
            <section class="col-sm-8">
                <h3>Instructions</h3>
                <p>
                    <strong>
                        Thank you for participating in our survey! Please choose an anonymous code name so your
                        responses are anonymous and make sure to respond to ALL of the questions.
                    </strong>
                </p>
            </section>

        </div>
        <form method="POST" action="/result">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label"><strong>Code Name</strong></label>
                <div class="col-sm-4">
                    <input type="name" class="form-control" id="inputEmail3" name="Code_name" placeholder="Code Name">
                </div>
            </div>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">1. I try to do tasks as soon as possible and not leave them until the last
                        minute. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Prioritising_workload" id="inlineRadio1"
                                value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Prioritising_workload" id="inlineRadio2"
                                value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Prioritising_workload" id="inlineRadio3"
                                value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">2. I always make a list, so I don’t forget anything. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Writing_notes" id="inlineRadio1"
                                value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Writing_notes" id="inlineRadio2"
                                value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Writing_notes" id="inlineRadio3"
                                value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">3. I look at things from all different angles before I go ahead. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Thinking_ahead" id="inlineRadio1"
                                value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Thinking_ahead" id="inlineRadio2"
                                value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Thinking_ahead" id="inlineRadio3"
                                value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">4. I am reliable at work and always complete all tasks given to me. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Reliability" id="inlineRadio1" value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Reliability" id="inlineRadio2" value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Reliability" id="inlineRadio3" value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">5. I always keep my promises. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Keeping_promises" id="inlineRadio1"
                                value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Keeping_promises" id="inlineRadio2"
                                value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Keeping_promises" id="inlineRadio3"
                                value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">6. I always try to be the funniest one. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Funniness" id="inlineRadio1" value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Funniness" id="inlineRadio2" value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Funniness" id="inlineRadio3" value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">7. I damaged things in the past when angry. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Criminal_damage" id="inlineRadio1"
                                value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Criminal_damage" id="inlineRadio2"
                                value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Criminal_damage" id="inlineRadio3"
                                value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">8. I always try to vote in elections. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Elections" id="inlineRadio1" value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Elections" id="inlineRadio2" value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Elections" id="inlineRadio3" value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">9. I often think about and regret the decisions I make. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Self_criticism" id="inlineRadio1"
                                value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Self_criticism" id="inlineRadio2"
                                value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Self_criticism" id="inlineRadio3"
                                value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">10. I am an empathetic person. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Empathy" id="inlineRadio1" value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Empathy" id="inlineRadio2" value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Empathy" id="inlineRadio3" value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">11. I eat because I have to. I don’t enjoy food and eat as fast as I can.
                    </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Eating_to_survive" id="inlineRadio1"
                                value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Eating_to_survive" id="inlineRadio2"
                                value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Eating_to_survive" id="inlineRadio3"
                                value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">12. I try to give as much as I can to other people at Christmas. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Giving" id="inlineRadio1" value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Giving" id="inlineRadio2" value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Giving" id="inlineRadio3" value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">13. I don’t like seeing animals suffering. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Compassion_to_animals" id="inlineRadio1"
                                value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Compassion_to_animals" id="inlineRadio2"
                                value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Compassion_to_animals" id="inlineRadio3"
                                value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">14. I look after things I have borrowed from others. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Borrowed_stuff" id="inlineRadio1"
                                value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Borrowed_stuff" id="inlineRadio2"
                                value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Borrowed_stuff" id="inlineRadio3"
                                value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">15. I feel lonely in life. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Loneliness" id="inlineRadio1" value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Loneliness" id="inlineRadio2" value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Loneliness" id="inlineRadio3" value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">16. I used to cheat at school. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Cheating_in_school" id="inlineRadio1"
                                value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Cheating_in_school" id="inlineRadio2"
                                value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Cheating_in_school" id="inlineRadio3"
                                value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">17. I worry about my health. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Health" id="inlineRadio1" value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Health" id="inlineRadio2" value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Health" id="inlineRadio3" value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">18. I believe in God. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="God" id="inlineRadio1" value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="God" id="inlineRadio2" value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="God" id="inlineRadio3" value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">19. I always give to charity. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Charity" id="inlineRadio1" value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Charity" id="inlineRadio2" value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Charity" id="inlineRadio3" value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">20. I have lots of friends. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Number_of_friends" id="inlineRadio1"
                                value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Number_of_friends" id="inlineRadio2"
                                value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Number_of_friends" id="inlineRadio3"
                                value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">21. I am very patient. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Waiting" id="inlineRadio1" value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Waiting" id="inlineRadio2" value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Waiting" id="inlineRadio3" value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">22. My moods change quickly. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Mood_swings" id="inlineRadio1" value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Mood_swings" id="inlineRadio2" value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Mood_swings" id="inlineRadio3" value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">23. I am well mannered, and I look after my appearance. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Appearence_and_gestures"
                                id="inlineRadio1" value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Appearence_and_gestures"
                                id="inlineRadio2" value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Appearence_and_gestures"
                                id="inlineRadio3" value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">24. I enjoy meeting new people. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Socializing" id="inlineRadio1" value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Socializing" id="inlineRadio2" value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Socializing" id="inlineRadio3" value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">25. I enjoy children’s company. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Children" id="inlineRadio1" value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Children" id="inlineRadio2" value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Children" id="inlineRadio3" value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">26. I can get angry very easily. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Getting_angry" id="inlineRadio1"
                                value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Getting_angry" id="inlineRadio2"
                                value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Getting_angry" id="inlineRadio3"
                                value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">27. I always make sure I connect with the right people. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Knowing_the_right_people"
                                id="inlineRadio1" value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Knowing_the_right_people"
                                id="inlineRadio2" value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Knowing_the_right_people"
                                id="inlineRadio3" value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">28. I must be well prepared before public speaking. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Public_speaking" id="inlineRadio1"
                                value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Public_speaking" id="inlineRadio2"
                                value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Public_speaking" id="inlineRadio3"
                                value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">29. I will find a fault in myself if people don’t like me. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Unpopularity" id="inlineRadio1"
                                value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Unpopularity" id="inlineRadio2"
                                value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Unpopularity" id="inlineRadio3"
                                value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">30. I cry when I feel down, or things don’t go the right way. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Life_struggles" id="inlineRadio1"
                                value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Life_struggles" id="inlineRadio2"
                                value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Life_struggles" id="inlineRadio3"
                                value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">31. I am 100% happy with my life. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Happiness_in_life" id="inlineRadio1"
                                value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Happiness_in_life" id="inlineRadio2"
                                value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Happiness_in_life" id="inlineRadio3"
                                value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">32. I am always full of life and energy. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Energy_levels" id="inlineRadio1"
                                value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Energy_levels" id="inlineRadio2"
                                value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Energy_levels" id="inlineRadio3"
                                value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">33. I believe all my personality traits are positive. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Personality" id="inlineRadio1" value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Personality" id="inlineRadio2" value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Personality" id="inlineRadio3" value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">34. If I find something that doesn’t belong to me, I will hand it in.
                    </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Finding_lost_valuables" id="inlineRadio1"
                                value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Finding_lost_valuables" id="inlineRadio2"
                                value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Finding_lost_valuables" id="inlineRadio3"
                                value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">35. I find it very difficult to get up in the morning. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Getting_up" id="inlineRadio1" value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Getting_up" id="inlineRadio2" value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Getting_up" id="inlineRadio3" value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">36. I have many different hobbies and interests. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Interests_or_hobbies" id="inlineRadio1"
                                value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Interests_or_hobbies" id="inlineRadio2"
                                value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Interests_or_hobbies" id="inlineRadio3"
                                value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-sm-5">37. I enjoy taking part in surveys. </label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Questionnaires_or_polls"
                                id="inlineRadio1" value="1">
                            <label class="form-check-label" for="inlineRadio1">Disagree</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Questionnaires_or_polls"
                                id="inlineRadio2" value="2">
                            <label class="form-check-label" for="inlineRadio2">Neutral</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Questionnaires_or_polls"
                                id="inlineRadio3" value="3">
                            <label class="form-check-label" for="inlineRadio3">Agree</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary" value="submit">Click Here. Thanks for your
                            data!</button>
                    </div>
            </fieldset>
        </form>

        <!-- Footer -->
        <footer class="row">
            <p>&copy;2020 Bryan Domogalla, Cherie Mosher, and Taber Webb - University of Oregon Data Analytics Boot
                Camp.<br>
                The complete <a href="https://www.kaggle.com/miroslavsabo/young-people-survey/data">young-people-survey
                </a> </p>
        </footer>

    </div>

    <!-- JS for Charts -->

    <!-- <script src="js/bubble.js"></script> -->

</body>

</html>