.content {
  background-color: whitesmoke;
}

.container {
  font-family: 'Sorts Mill Goudy', serif;
}

.background {
 padding-top: 30px; 
}

.col-md-8 {
  background-color: white;
  padding: 20px; 
}

.col-md-4 {
  background-color: white; 
  padding: 10px;
}

.navbar {
  font-family: 'Parisienne';
  color: #45B39D;
  font-size: 30px;
  padding-left:15px;
  font-weight: bold;
}

.navbar .navbar-brand {
  color: #45B39D;
  padding-left:30px;
  font-size: 30px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #45B39D;
  padding-left:30px;
  font-size: 24px;
}

.row h2 {
  color: gray;
}

.row {
  background-color: white;
}

.col-md-12 {
  padding-left: 30px;
  padding-right: 30px;
}

.jumbotron {
  color: black;
}

.display-4 {
  font-size: 62px;
  font-family: 'IM Fell English SC', serif;
  text-align: center;
}

.lead {
  font-weight: 400;
  font-size: 26.6px;
  font-family: 'Cormorant', serif;
  text-align: center;
}

.introduction {
  font-size: 20.5px;
  font-family: 'Sorts Mill Goudy', serif;
}

.intro-text {
  text-align: center;
}

.first-nation {
  font-family: 'Lora', serif;
}

.recognition {
  font-size: 20px;
  font-family: 'Sorts Mill Goudy', serif;
}

.recog-links {
  padding-left: 15px;
}

#ddmenu_name {
  padding-left: 5px;
  font-size: 16px;
}

.btn-primary-spacing {
  margin-right: 5px;
  margin-bottom: 5px !important;
  margin-top: 5px;
}

.art-text {
  font-size: 18px;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 10px;
}

img {width: 100%}

.image-text {
  text-align: center;
  padding: 10px 5px;
}

.my-name {
  width: 80%;
  align-items: center;
}

#demo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#demo2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.ascaphus-back-images {
  width: 77%;
}

.light-image {
  color: #00008B;
  font-weight: bolder;
}

.dark-image {
  color: #FFD700;
}

.medium-image {
  color: #FF4500;
}

.modal,body.modal-open {
  padding-right: 0!important;
}

body.modal-open {
  overflow: auto;
}

body.scrollable {
  overflow-y: auto;
}

.modal-footer {
  display: flex;
  justify-content: flex-start;
  padding: 15px;
}

.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.card-text{
  text-align: center;
}

.reduce-card-width {
  padding-left: 30%;
  padding-right: 30%;
}

.reduce-map-size {
  width: 40%;
}

.conclusion-text {
  text-align: center;
  padding-right: 145px;
  padding-left: 145px;
}

.conclusion-text2 {
  text-align: center;
  padding-right: 130px;
  padding-left: 130px;
}

.conclusion-text3 {
  text-align: center;
  padding-right: 145px;
  padding-left: 145px;
  font-family: 'Times New Roman', Times, serif;
}

.conclusion-text4 {
  text-align: center;
  padding-right: 80px;
  padding-left: 80px;
}

.card-text {
  font-family: "Times New Roman", Times, serif;
}

.figure-caption {
  padding-top: 10px;
  padding-left: 80px;
  padding-right: 80px; 
  font-weight: 700;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}

.caption {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

.ascap-resources {
  padding-left: 50px;
  font-family: 'Sorts Mill Goudy', serif;
  padding-bottom: 20px;
}

.yun-hoonzoo {
  width: 70%;
}

.logo {
  width: 10%;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

#bottom-nav {
  font-size: 28px;
  font-family: 'IM Fell English SC', serif;
}

.nav-link-bottom {
  font-family: 'IM Fell English SC', serif;
}

.flex-container {
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
}
  
.flex-item {
  margin: 5px;
}