.content {
    background-color: whitesmoke;
}

.container {
    font-family: 'Sorts Mill Goudy', serif;
}

.background {
    padding-top: 30px; 
}

.col-md-8 {
    background-color: white;
    padding: 20px; 
}

.col-md-4 {
    background-color: white; 
    padding: 10px;
}

.navbar {
    font-family: 'Parisienne';
    color: #45B39D;
    font-size: 30px;
    padding-left:15px;
    font-weight: bold;
}

.navbar .navbar-brand {
    color: #45B39D;
    padding-left:30px;
    font-size: 30px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #45B39D;
    padding-left:30px;
    font-size: 24px;
}

.row h2 {
    color: gray;
}

.row {
    background-color: white;
}

.col-md-12 {
    padding-left: 30px;
    padding-right: 30px;
}

.jumbotron {
    color: black;
}

.display-4 {
    font-size: 62px;
    font-family: 'IM Fell English SC', serif;
    text-align: center;
}

.lead {
    font-weight: 400;
    font-size: 26.6px;
    font-family: 'Cormorant', serif;
    text-align: center;
}

.introduction {
    font-size: 20.5px;
    font-family: 'Sorts Mill Goudy', serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.card-img-top2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.reduce-map-size {
    width: 60%;
}

.reduce-map-size2 {
    width: 35%;
}

.reduce-map-size3 {
    width: 42%;
}

.modal,body.modal-open {
    padding-right: 0!important;
}
  
body.modal-open {
    overflow: auto;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 98%;
   max-width:1200px;
  }
}

body.scrollable {
    overflow-y: auto;
}

.modal-footer {
    display: flex;
    justify-content: flex-start;
    padding: 15px;
}

.caption {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}

.card-text-min{
    padding-left: 200px;
    padding-right: 200px;
}

.thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.enlarge-image {
    width: 100%;
}

.medium-image {
    padding-top: 6px;
}

.cohort-image {
    width: 50%;
}

#figure-4-caption {
    padding-top: 10px;
}

.small-image {
    width: 52%;
    padding-top: 10px;
    padding-bottom: 12px
}

.smaller-image {
    width: 40%;
    padding-bottom: 12px;
    padding-top: 3px;
}

#viz1592940718197 {
    padding-right: 45px;
    padding-left: 45px;
}

.conclusion-text {
    text-align: center;
    padding-right: 145px;
    padding-left: 145px;
}

.conclusion-text2 {
    text-align: center;
    padding-right: 130px;
    padding-left: 130px;
}

.conclusion-text3 {
    text-align: center;
    padding-right: 145px;
    padding-left: 145px;
    font-family: 'Times New Roman', Times, serif;
}

.conclusion-text4 {
    text-align: center;
}

.conclusion-text5 {
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
}

.conclusion-text6 {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

.conclusion-text7 {
    text-align: center;
    padding-right: 8px;
    padding-left: 8px;
    font-family: 'Times New Roman', Times, serif;
}

.conclusion-text8 {
    padding-right: 20px;
    padding-left: 20px;
}

.minimize-card {
    padding-right: 15%;
    padding-left: 15%;
}

.minimize-card2 {
    padding-right: 25%;
    padding-left: 25%;
}

.card-text {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    text-align: center;
}

.card-text2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    text-align: center;
}

.ascap-resources {
    padding-left: 50px;
    font-family: 'Sorts Mill Goudy', serif;
    padding-bottom: 20px;
}

.yun-hoonzoo {
    width: 70%;
  }

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

#bottom-nav {
    font-size: 28px;
    font-family: 'IM Fell English SC', serif;
}

.nav-link-bottom {
    font-family: 'IM Fell English SC', serif;
}

.flex-container {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
}

.flex-item {
    margin: 5px;
}
